.link_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  padding: 0.5rem;
  text-decoration: none;
}

.nav_link:hover {
  background: lightgray;
  border-bottom: none;
}

.mobile_nav {
  display: none;
}

.menu {
  display: none;
}

@media (max-width: 667px) {
  .nav_menu {
    display: none;
  }

  .mobile_nav {
    position: fixed;
    background-color: var(--background);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 1rem;
    z-index: 1000;
  }

  /* mobile menu */

  .menu {
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid lightgray;
  }

  .menu.active {
    display: flex;
    position: fixed;
    flex-direction: column;
    text-align: center;
    height: 39vh;
    z-index: 1000;
  }
}

/* dark mode stylings */
@media (prefers-color-scheme: dark) {
  .nav_link:hover {
    color: var(--foreground);
    background: var(--dm_background);
  }
  .mobile_nav {
    background-color: var(--dm_background);
  }
}

[data-theme="dark"] .nav_link:hover {
  color: var(--foreground);
  background: var(--dm_background);
}

[data-theme="dark"] .mobile_nav {
  background-color: var(--dm_background);
}
